<%= form_for(@alert_keyword) do |f| %>
  <% if @alert_keyword.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alert_keyword.errors.count, "error") %> prohibited this alert_keyword from being saved:</h2>

      <ul>
      <% @alert_keyword.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
